h1 {
    font-size: 150px;
    text-align: center;
}

button {
    width: 200px;
    height: 100px;
    background-color: blue;
    color: #000;
}

.first_button {
   display: inline;

}

.second_button {
    display: inline;
}

form {
    display: inline;
    position: relative;
    left: 35%;
    transform: translate(-50%, 0);
}

html {
    margin: 20px;
}

h2 {
    text-align: center;
}

body {
        background: #000 url(/img/b.webp); /* Фоновый цвет и фоновый рисунок*/
		color: #fff; /*Цвет текста на странице*/
		background-attachment: fixed; /* Фон страницы фиксируется */
		background-repeat: repeat-x; /* Изображение повторяется по горизонтали */
}